@font-face {
    font-family: Norse;
    src: url("materials/Norse-Bold.otf");
    font-weight: bold;
}

* {
    box-sizing: border-box; 
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-image: url("materials/luke-tanis-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
}

.logo-container {
    display: flex;
    width: 30%;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
}

.logo-img {
    display: inline-block;
    width: 3rem;
}

.logo-txt {
    display: inline-block;
    margin: 0;
    color: white;
    margin: auto 0;
    font-family: Norse, Arial, Helvetica;
    font-weight: bold;
    font-size: 3rem;
}

main {
    float: right;
    width: 70%;
    max-height: fit-content;
    min-height: 100vh;
    background-color: rgb(223, 188, 165);
    padding: 3rem 0 1rem 0;
}

p {
    margin: 0 3rem 1.5rem 3rem;
}

.flex-container {
    padding: 0 3rem 1.5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    gap: 2rem 20%;
    background-color: white;
    box-shadow: 3px 3px 5px grey;
}

h2 {
    width: 100%;
    margin: 1rem 0 0 0;
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

input {
    display: block;
    border: 1px solid gray;
    padding: 0.2rem;
}

textarea:focus, input:focus{
    outline: none;
    box-shadow: 0 0 5px 1px blue;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid greenyellow;
}

input:placeholder-shown {
    border: 1px solid gray;
}

button {
    margin: 2rem 0 2rem 3rem;
    background-color: rgb(93, 78, 68);
    border: none;
    border-radius: 5px;
    padding: 1rem 4rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-wrap: nowrap;
}

button:active {
    background-color: rgb(54, 45, 40);;
}

a {
    color: brown;
    text-decoration: none;
}

@media screen and (max-width: 46.875rem) {
    header {
        display: block;
        width: 100%;
        float: none;
        height: 10rem;
    }

    .logo-container {
        width: 100%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        align-items: center;
    }

    main {
        display: block;
        width: 100%;
        float: none;
    }

    button {
        margin: 2rem auto;
        display: block;

    }

    .login {
        text-align: center;
        margin: 0 auto;
    }
}